<div class="user-info">
	<h2>User info</h2>
	<img src="#">
    <div class="user-name"></div>
    <div class="user-introduction"></div>
    <div class="user-info-edit">
         <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-wrench"></span></button>
    </div>
</div>
