<div class="container">
 <div class="row">
   <div class="col-lg-1"></div>
   <div class="col-lg-10">
<h1><strong>welcome to <span class="glyphicon glyphicon-book"></span>Bookers </strong>!!</h1>
   </div>
   <div class="col-lg-1"></div>
 </div>
</div>
