<div class="main">
		<h1><strong>welcome to <span class="glyphicon glyphicon-book"></span>Bookers </strong>!!</h1>
		<p>In <strong>Bookers,</strong></p>
		<p>you can share and exchange your opinions , inpressions , and emotions about varioius books!</p>
</div>
<div class="devise">
<div><button type="button" class="btn btn-info"><span class="s-b"><%= link_to 'Log in', new_user_session_path %></span></button></div>
<div><button type="button" class="btn btn-success"><span class="s-b"><%= link_to 'Sign Up', new_user_registration_path %></span></button></div>
</div>




