/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.alert {
	color: green;
}

header {
	height: 50px;
	background-color: #222;
	color: #FFF;
}
.header-logo {
	float: left;
	font-size: 20px;
}
.header-list {
	float: right;
	line-height: 50px;
}
li {
	list-style: none;
	float: left;
	margin-right: 40px;
	color: #808080;
}
li a {
	margin-left: 10px;
	color: #808080;
}

//glyphiconを含めたリンクの装飾ができない...

li a:link {text-decoration: none;}
li a:visited {text-decoration: none;}
li a:hover {color: #fff;}
li a:active {text-decoration: none;}

.footer-text {
	float: right;
}