// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
    width: 470px;
	margin: 0 auto;
}
.devise {
    width: 470px;
	margin: 0 auto;
}
.btn {
	width: 470px;
	margin: 0 auto;

}
.btn span {
	color: #808080;
}

.s-b a {
	display: block;
	width: 458px;

}